
.Title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.button {
  margin-left: 50%;
  margin-top: 5rem;
  display: flex;
  padding: 0.5rem 0.5rem;
  width: 300px;
}
.form {
  border: 2px solid #1976d2;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 16px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.dropDownFields{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.TextField {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.whole{
  margin-top: 4rem;
}
.field {
  width: 300px;
}
.result{
  border: 2px solid #1976d2;
  border-radius: 16px;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 948px) {
  .form {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
  }
  
  .Title{
    font-size: 1.5rem;
  } 
  .result{
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}
