.Title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.dropDownFields {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.TextField {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}


.result {
  border: 2px solid #1976d2;
  border-radius: 16px;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
}

.whole{
  
}

@media screen and (max-width: 948px) {
  .Title {
    font-size: 5rem;
  }
  .result {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
