.button{
    text-align: center;
    align-items: center;
    
}

.box{
    display: inline-flex;
    margin:4rem 2rem 2rem 2rem;
    align-items: center;
   
}
.cardd{
    margin:2rem 2rem 2rem 2rem;
    border-radius: 100px;
}
@media screen and (max-width: 783px) {
    .model{
        display: flex;
        margin:1rem 1rem 1rem 1rem;
        font-size: 20px;
    }
    .cardd{
        margin:0rem 0rem 0rem 0rem;
        
    }
    .box{
        display: block;
        margin:5rem 0rem 0rem 0rem;
        align-items: center;
       
    }
    .button{
        text-align: center;
        align-items: center;
    }
  }